<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-[#232b2b] grid gap-12 text-white m-8 font-[poppins] font-semibold"
    >
        <nav class="flex relative">
            <h1 class="m-auto w-fit text-4xl">
                Url Shortener
            </h1>

            <div class="absolute">
                <h1>Welcome <span class="border px-2"><%= name %></span> </h1>
            </div>
        </nav>

        <form
            action="/"
            method="post"
            class="flex justify-evenly gap-4 bg-[#134074] rounded-3xl m-auto p-10 w-[500px] max-w-[65%]"
        >
            <div class="grid gap-4 text-center">
                <label
                    for="real_url"
                    class="cursor-pointer block text-2xl"
                    >Enter your url</label
                >
                <input
                    name="real_url"
                    id="real_url"
                    class="rounded-3xl p-4 h-10 text-black"
                    type="text"
                    autofocus
                    placeholder="ex: wikepedia.com"
                />
            </div>
            <button
                class="h-24 w-24 rounded-2xl ring ring-white bg-blue-400"
            >
                Generate
            </button>
        </form>

        <table class="">
            <thead class="bg-[#134074] border">
                <tr>
                    <th>Redirect URL</th>
                    <th>Short URL</th>
                    <th>Times Clicked</th>
                </tr>
            </thead>

            <tbody class="*:h-10 text-center">
                <% data.forEach(url => { %>
                <tr class="border-b border-gray-600 md:border">
                    <td>
                        <a
                            href="<%=url.short_url%>"
                            target="_blank"
                            ><%= url.real_url %></a
                        >
                    </td>
                    <td><%= url.short_url %></td>
                    <td><%= url.analytics.clicked%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
